
.recent-projects-container {

  color: #fff;
  padding: 60px 20px;
  text-align: center;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #00ffdd;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: slideInLeft 1s ease-in-out;
}

.section-description {
  font-size: 1.2rem;
  margin-bottom: 60px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: #b8b8d4;
  animation: slideInRight 1s ease-in-out;
  
}

.projects-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.project-item {
  background-color: #2e2e30;
  border-radius: 15px;
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.5s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  position: relative;
  animation: rotateIn 1s ease-in-out;
}

.project-item:hover {
  transform: translateY(-10px) rotate(5deg);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.6);
  /* background-color: #00ffdd; */
}

.project-content {
  padding: 20px;
}

.project-image {
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.project-image:hover {
  transform: scale(1.1);
  filter: brightness(120%);
}



.project-title {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #00ffdd;
  animation: colorTransition 1s ease-in-out;
}

.project-year {
  font-size: 1rem;
  color: #d1d1e0;
}

@keyframes rotateIn {
  from{
    opacity: 0;
    transform: rotate(-360deg);
  }
  to{
    opacity: 1;
    transform: rotate(0deg);
  }
}




/* @keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

 

.website-design {
  background-image: url('../assets/Laundry.png');
}

.illustration-design {
  background-image: url('../assets/jpfood.png');
} 

